In [1]:
a = 5

In [2]:
a = a+a

In [3]:
type(a)

int

In [4]:
a=30.1
type(a)

float

In [5]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [6]:
my_taxes

10.0

## Strings

In [7]:
print('hello world one')
print("world world two")

hello world one
world world two

## Indexing

In [8]:
print("i'm going on a run")

i'm going on a run

In [9]:
print("hello \n world")

hello
 world

In [10]:
print("hello \t world")

hello 	 world

In [11]:
len('i am')

4

In [12]:
mystring = "Hello World"
mystring

'Hello World'

In [13]:
mystring[-3]

'r'

In [14]:
print(mystring[0])
print(mystring[8])

H
r

# SLICING

In [15]:
mystring = 'abcdefghijk'
mystring

'abcdefghijk'

In [16]:
#[start:stop:step]
mystring[2:]

'cdefghijk'

In [17]:
mystring[3:6]

'def'

In [18]:
mystring[::2]

'acegik'

In [19]:
#reverse string
mystring[::-1]
mystring[::-2]

'kigeca'

## String Functions

In [20]:
name = "Sam"
name[1:]

'am'

In [21]:
last_letters = name[1:]
last_letters
'P'+ last_letters

'Pam'

In [22]:
x = 'Hello World'
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [23]:
letter = "z"
letter*10

'zzzzzzzzzz'

## String Functions

In [24]:
# Can't concatenate with string with numbers (dynamic typing)
x ="Hi this is a string"
x.upper()

'HI THIS IS A STRING'

In [25]:
#split white space
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [26]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']